
CS347 Project 2/Temp/UnityLockfile
CS347 Project 2/Library/EditorInstance.json
CS347 Project 2/Assembly-CSharp-Editor-firstpass.csproj
CS347 Project 2/Assembly-CSharp.csproj
CS347 Project 2/Library/ArtifactDB
CS347 Project 2/Library/ArtifactDB
CS347 Project 2/Library/gfu/cache/branches.yaml
CS347 Project 2/Library/gfu/cache/gitlocks.yaml
CS347 Project 2/Library/gfu/cache/gitlog.yaml
